body {
    overflow-x: hidden;
}

#images {
    background-color: rgb(205, 203, 203);
    height: 25vh;
}

.draggable:hover {
    cursor: pointer;
}

#animate-image {
    position: absolute; /* needed for animation */
    border: 5px solid black;
    height: 25vh;
}

#revert-icon {
    position: absolute;
    top: 30%;
    z-index: 1;
    text-align: center;

    font-size: 4em;

    display: none;
    cursor: pointer;
}