@font-face {
    font-family: 'Poppins';
    src: url('path-to-fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

body {
    background-color: lightgray;
    overflow-x: hidden;

    font-size: 30px;

    font-family: 'Poppins', sans-serif;
}

.columns {
    display: flex;
}    

.text {
    text-align: justify;
    margin: 20px;
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .columns {
        flex-direction: column;
    }

    .text {
        margin: 10px;
    }
}
