@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
    	
	text-align: center;    	
	margin-top: 100px;
    	color: #1e70bf;
}

h1 {
	font-size: 10rem;
}
